/*

The colorway
black: #000000
red: #ec4343
pale red: #fb7676
yellow: #f9d927
tan: #ddb989

*/

@font-face {
    font-family: 'Porkys';
    src: url('font/PORKYS_.TTF');
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  color: #6d6d6d;   /* gray */
}

.container {
  width: 80%;
}

.navbar a {
    color: black;
    background-color: #f9d927;
    text-decoration: none;
}

.navbar a:link {
    color: white;
}
.navbar a:visited {
    color: white;
}

.navbar a:hover {
    color: white;
}

header {
    /*width: 850px;
    height: 502px;*/
    border:0px ;
    display: block;
    margin: auto;
    margin-top: 5%;
}

/* webkit for older versions of Chrome, Firefox, etc */
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

/* 'transform: rotate' tells the animation how much to rotate. don't change these because it'll look ridiculous. trust me lol.
0, 50, and 100% are all positions. */
/* @keyframes tells the page we're gonna animate something. 'swinging' in this case names the animation. */
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

/* 'swingimage' is the class we've placed on the image in the html. with 'transform-origin' we're telling the image where to start
being animated. imagine the logo hanging on a nail. at 50% we're telling the image to start swinging right in the middle. if we
wanted to offset that, we could change the percentage. the first value controls horizontal movement. the second controls vertical.

'ease-in-out' tells the image how to begin and end each cycle essentially. it makes the smooth glide when the swinging reaches peaks.

'infinite' makes it run forever, and 'forwards' tells the image what to do when it is not being display (like if you scroll away from
it). in this case, we want the image to retain the style set for 100%.
 */
.swingimage{
    /*-webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;*/
    max-width: 50%;
    max-height: 50%;
    width: auto;
    position: relative;
    left: 50%;
    margin-left: -25%;
}

.textlogo {
    /*margin-top: -5%;*/
    max-width: 60%;
    position: relative;
    left: 50%;
    margin-left: -30%;
}

#normalNav {
    margin-bottom: 3%;
}

#normalNav li {
    float: left;
    list-style-type: none;
    width: 20%;
}

#normalNav a {
    display: block;
    text-decoration: none;
    font-family: Porkys;
    font-size: 13px;
    color: #ec4343;
    background-color: #f9d927;
    text-align: center;
    padding: 7%;
}

#normalNav a:hover {
    background-color: #ec4343;
    font-family: Porkys;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
}

#about {
  padding: 5px;
  width: 100%;
  background-color: #ddb989;
}

#name {
  padding: 5px;
  width: 100%;
  background-color: #ddb989;
}

#us {
  padding: 5px;
  width: 100%;
  height: 325px;
  background-color: #ddb989;
}



.thumbnail {
    overflow: auto;
}

.jumbotron {
    overflow: auto;
}

.adoptQuiz a {
    display: inline-block;
    padding: 0.5em;
    font-size: 1.5em;
    text-decoration: none;
    /*background-color: #ec4343;*/
    color: black;
    font-weight: bold;
    /*border-radius: 5px;*/
    /*margin-left: -8%;*/
    width: auto;
}

.jumbotron h2 {
    font-size: 2em;
    text-align: center;
}

.adoptQuiz li:hover {
    background-color: transparent;
}

.quizImg {
    max-width: 100%;
}

button {
  background-color: #ec4343 !important;
  border: none !important;
  color: white !important;
  padding: 5px 10px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 1.5em;
}
.petBox {
    border: 5px solid #f9d927;
    margin: 2% auto;
    padding: 2%;
    width: 80%;
    overflow: auto;
    color: #ec4343;
    font-weight: bolder;
}

.petBox a {
	color: #ec4343;
    text-decoration: none;
}


.thumbs{
	position: relative;
	float: left;
	padding-bottom: 200px;
}
.petName{
	font-family: sans-serif;
	font-size: 24px;
	/*position: relative;
	left: 150px;*/
}
.petSex{
	font-family: sans-serif;
	font-size: 24px;
	/*position: relative;
	left: 150px;*/
}
.petAge{
	font-family: sans-serif;
	font-size: 24px;
	/*position: relative;
	left: 150px;*/
}
.petSize{
	font-family: sans-serif;
	font-size: 24px;
	/*position: relative;
	left: 150px;*/
}

.infoBox {
    float: left;
    margin-left: 5%;
}

/* DO NOT TOUCH \/\/\/\/\/\/\/\/\/\/ ----------------------- */
#adoptImage {
	position: relative;
  margin-left: auto;
	margin-right: auto;
	width: auto;
	display: block;
	border-radius: 25%;
	width: 30%;
	height: 30%;
}
.adoptBox {
    border: 5px solid #f9d927;
    margin: 2% auto;
    padding: 2%;
    width: 80%;
    overflow: auto;
}

#adoptName {
	font-family: sans-serif;
	font-size: 48px;
	position: relative;
}

#adoptPhone {
	font-family: sans-serif;
	font-size: 36px;
	position: relative;
}

#adoptAddress {
	font-family: sans-serif;
	font-size: 36px;
	position: relative;
}
#adoptCity {
	font-family: sans-serif;
	font-size: 36px;
	position: relative;
}
#adoptSex {
	font-family: sans-serif;
	font-size: 36px;
	position: relative;
}
#adoptGen {
	font-family: sans-serif;
	font-size: 36px;
	position: relative;
	}
.adoptMe{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.navbar {
    display: none;
}

quiz-me, pup-grade {
    float: left;
    margin: 1%;
}

/*
#petImage { */

@media only screen and (max-width: 768px) {
    #normalNav {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .swingimage{
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
        animation: swinging 3.5s ease-in-out forwards infinite;
        max-width: 60%;
        max-height: 60%;
        position: relative;
        left: 50%;
        margin-left: -30%;
    }
}

/* ----------- tablets ----------- */
@media only screen
  and (min-width: 737px)
  and (max-width: 1024px)  {
}

/* ------------- phones ----------- */
@media only screen
  and (min-width: 320px)
  and (max-width: 736px)  {

}
