<div class="adoptBox">
	<img id="adoptImage" src="{{pet.media.photos.photo[2].$t}}" alt="No Image Available"></span>
	<p class="adoptMe">
		<span id="adoptName"> Name: {{pet.name.$t}} </span><br>
		<span id="adoptPhone"> Contact: {{pet.contact.phone.$t}} </span><br>
		<span id="adoptAddress"> {{pet.contact.address1.$t}} </span><br>
		<span id="adoptCity"> {{pet.contact.city.$t}}, {{pet.contact.state.$t}} {{pet.contact.zip.$t}} </span><br>
		<span id="adoptGen"> Gender: {{pet.sex.$t === "F"     ? "Female" : "Male"}} </span><br>
	</p>
</div>
