<section>
  <form class="adoptQuiz">
    <ul class="questions">
      <li>
        <label for="question1" class="label_radio">
					<input type="radio" name="answer" value="0">
						<div id="question1">
							QUESTION ONE
						</div>
				</label>
      </li>
      <li>
        <label for="question2" class="label_radio">
					<input type="radio" name="answer" value="1">
						<div id="question1">
							QUESTION TWO
						</div>
				</label>
      </li>
      <li>
        <label for="question3" class="label_radio">
					<input type="radio" name="answer" value="2">
						<div id="question3">
							QUESTION THREE
						</div>
				</label>
      </li>
      <li>
        <label for="question4" class="label_radio">
					<input type="radio" name="answer" value="3">
						<div id="question4">
							QUESTION FOUR
						</div>
				</label>
      </li>
      <li>
        <label for="question5" class="label_radio">
          <input type="radio" name="answer" value="4">
            <div id="question5">
              QUESTION FIVE
            </div>
        </label>
      </li>
      <li>
        <label for="question6" class="label_radio">
          <input type="radio" name="answer" value="5">
            <div id="question6">
              QUESTION SIX
            </div>
        </label>
      </li>
      <li>
        <label for="question7" class="label_radio">
          <input type="radio" name="answer" value="6">
            <div id="question7">
              QUESTION SEVEN
            </div>
        </label>
      </li>
      <li>
        <label for="question8" class="label_radio">
          <input type="radio" name="answer" value="7">
            <div id="question8">
              QUESTION EIGHT
            </div>
        </label>
      </li>
      <li>
        <label for="question9" class="label_radio">
          <input type="radio" name="answer" value="8">
            <div id="question9">
              QUESTION NINE
            </div>
        </label>
      </li>
      <li>
        <label for="question10" class="label_radio">
          <input type="radio" name="answer" value="9">
            <div id="question10">
              QUESTION TEN
            </div>
        </label>
      </li>
      <li>
        <label for="question11" class="label_radio">
          <input type="radio" name="answer" value="10">
            <div id="question11">
              QUESTION ELEVEN
            </div>
        </label>
      </li>
    </ul>
    <button type="button" class="btn btn-primary" onclick="next()">NEXT</button>
	</form>
</section>
