<section>
     <form class="adoptQuiz">
          <div ng-repeat="question in questions">
               <h3>{{question.question}}</h3>
               <ul>
                    <li>
                         <label>
                             <input type="radio" name="{{question.number}}" ng-click="setAnswer(question.number, question.answer1.weight)">
                             {{question.answer1.answer}}
                         </label>
                    </li>
                    <li>
                         <label>
                             <input type="radio" name="{{question.number}}" ng-click="setAnswer(question.number, question.answer2.weight)">
                             {{question.answer2.answer}}
                         </label>
                    </li>
                     <li>
                         <label>
                             <input type="radio" name="{{question.number}}" ng-click="setAnswer(question.number, question.answer3.weight)">
                             {{question.answer3.answer}}
                         </label>
                    </li>
                    <li>
                         <label>
                             <input type="radio" name="{{question.number}}" ng-click="setAnswer(question.number, question.answer4.weight)">
                             {{question.answer4.answer}}
                         </label>
                    </li>
               </ul>
          </div>
          <button type="button" class="btn btn-primary" ng-click="next()">NEXT</button>
     </form>
</section>
<!-- let's fix this bug-->
