<section>
  <form class="adoptQuiz">
    <div id="question">It's Black Friday. Which deal are you most excited about?</div>
    <ul class="answers">
      <li>
        <label for="choice1" class="label_radio">
          <input type="radio" name="answer" value="0">
            <div id="choice1">
              75% off all kids clothes and toys
            </div>
        </label>
      </li>
      <li>
        <label for="choice2" class="label_radio">
          <input type="radio" name="answer" value="1">
            <div id="choice2">
              BOGO school supplies
            </div>
        </label>
      </li>
      <li>
        <label for="choice3" class="label_radio">
          <input type="radio" name="answer" value="2">
            <div id="choice3">
              91.8% off all Apple products
            </div>
        </label>
      </li>
      <li>
        <label for="choice4" class="label_radio">
          <input type="radio" name="answer" value="3">
            <div id="choice4">
              I'm honestly down for all these sales!
            </div>
        </label>
      </li>
    </ul>

    <button type="button" class="btn btn-primary" onclick="next()">NEXT</button>
  </form>
  </div>
</section>
